<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="learningTestNG">
	<groups>
		<run>
			<exclude name="MyTest" />
		</run>
	</groups>
	<test name="LearningTestNG">
		<parameter name="p1" value="LearningTestNG" />
		<parameter name="p2" value="LearningTestNGLearningTestNG" />
		<parameter name = "Browser" value = "Firefox"/>
		<classes>
			<class name="learningTestNG.beforeAfter" />
			<class name="learningTestNG.LearningTestNG" />
		</classes>
	</test> <!-- Test -->
	<test name="Test 2">
		<groups>
			<run>
				<include name="MyTestFromTest2" />
			</run>
		</groups>
		<classes>
			<class name="learningTestNG.testsuite2" />
		</classes>
	</test>

	<test name="Test3" parallel = "methods" thread-count="2">
		<classes>
			<class name="learningTestNG.testsuite3" />
		</classes>
	</test>
	<test name="Test4">
		<groups>
			<dependencies>
				<group depends-on="g3" name="test1" />
				<group depends-on="g2" name="test3" />
			</dependencies>
		</groups>
		<classes>
			<class name="learningTestNG.testsuite4" />
		</classes>
	</test>

	<test name="web">
		<groups>
			<dependencies>
				<group name="demolision" depends-on="setup" />
			</dependencies>
		</groups>
		<classes>
			<class name="learningTestNG.web">
				<methods>
					<include name="clickOnLink" />
				</methods>
			</class>
		</classes>
	</test>

	

</suite> <!-- Suite -->
